# EditorConfig is awesome: https://EditorConfig.org

# Linux File endings
[*]
end_of_line = lf

# Top-most EditorConfig file
root = true

# 2 space indentation for JS
[*.js]
indent_style = space
indent_size = 2